<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> {{ page.title }} </title>
  </head>
  <body style="width:640px">
    <div style="background:lightblue;text-align:center;padding-top:1px;padding-bottom:1px" >
      <h1> {{ page.title }} </h1>
    </div>
    <div style="text-align:right">
      {% capture url %}{{ page.url | remove:'.html' }}{% endcapture %}
      {% if url contains '_ja' %}
         <a href="{{ url | remove:'_ja' }}.html" >English</a>
      {% else %}
         English
      {% endif %}
         |
      {% if url contains '_ja' %}
         日本語
      {% else %}
         <a href="{{ url }}_ja.html">日本語</a>
      {% endif %}
    </div>
    {{ content }}
  </body>
</html>
